@import "../variables";
.login-form-container{
    display: flex;
    width:100%;
    flex-direction: column;
    gap: 5px;
    border: 1px solid $slate-400;
    padding: 10px;
    border-radius: 5px;
}